.git
.idea
.log

npm-debug.log
node_modules

z_old
/client/assets/css/fonts
/client/assets/css/style.css
/.bin/testes.sh
/client/assets/js_OLD
/client/assets/js_OLD/js-min
/client/assets/libs
/client/dist/libs
z-old.configs
/testes.sh
z-package.json