$_color-dark-blue: _ ;
$_color-light-green: _ ;
$_color-lime: _ ;
$_color-yellow: _ ;
$_color-amber: _ ;
$_color-orange: _ ;
$_color-deep-orange: _ ;
$color-cyan: _ ;

$color-dark-blue_50:    #e6ebed;
$color-dark-blue_100:   #b3c3c8;
$color-dark-blue_200:   #819ba4;
$color-dark-blue_300:   #577986;
$color-dark-blue_400:   #2d5767;
$color-dark-blue_500:   #033649;
$color-dark-blue_600:   #032f40;
$color-dark-blue_700:   #022937;
$color-dark-blue_800:   #02222e;
$color-dark-blue_900:   #021b25;
$color-dark-blue_A100:  #b3c3c8;
$color-dark-blue_A200:  #819ba4;
$color-dark-blue_A400:  #2d5767;
$color-dark-blue_A700:  #022937;

$color-light-green_50:	  #f1f8e9;
$color-light-green_100:	  #dcedc8;
$color-light-green_200:	  #c5e1a5;
$color-light-green_300:	  #aed581;
$color-light-green_400:	  #9ccc65;
$color-light-green_500:	  #8bc34a;
$color-light-green_600:	  #7cb342;
$color-light-green_700:	  #689f38;
$color-light-green_800:	  #558b2f;
$color-light-green_900:	  #33691e;
$color-light-green_A100:  #ccff90;
$color-light-green_A200:  #b2ff59;
$color-light-green_A400:  #76ff03;
$color-light-green_A700:  #64dd17;

$color-lime_50:   #f9fbe7;
$color-lime_100:  #f0f4c3;
$color-lime_200:  #e6ee9c;
$color-lime_300:  #dce775;
$color-lime_400:  #d4e157;
$color-lime_500:  #cddc39;
$color-lime_600:  #c0ca33;
$color-lime_700:  #afb42b;
$color-lime_800:  #9e9d24;
$color-lime_900:  #827717;
$color-lime_A100: #f4ff81;
$color-lime_A200: #eeff41;
$color-lime_A400: #c6ff00;
$color-lime_A700: #aeea00;

$color-yellow_50:	#fffde7;
$color-yellow_100:	#fff9c4;
$color-yellow_200:	#fff59d;
$color-yellow_300:	#fff176;
$color-yellow_400:	#ffee58;
$color-yellow_500:	#ffeb3b;
$color-yellow_600:	#fdd835;
$color-yellow_700:	#fbc02d;
$color-yellow_800:	#f9a825;
$color-yellow_900:	#f57f17;
$color-yellow_A100:	#ffff8d;
$color-yellow_A200:	#ffff00;
$color-yellow_A400:	#ffea00;
$color-yellow_A700:	#ffd600;

$color-amber_50:	#fff8e1;
$color-amber_100:	#ffecb3;
$color-amber_200:	#ffe082;
$color-amber_300:	#ffd54f;
$color-amber_400:	#ffca28;
$color-amber_500:	#ffc107;
$color-amber_600:	#ffb300;
$color-amber_700:	#ffa000;
$color-amber_800:	#ff8f00;
$color-amber_900:	#ff6f00;
$color-amber_A100:	#ffe57f;
$color-amber_A200:	#ffd740;
$color-amber_A400:	#ffc400;
$color-amber_A700:	#ffab00;

$color-orange_50:	#fff3e0;
$color-orange_100:	#ffe0b2;
$color-orange_200:	#ffcc80;
$color-orange_300:	#ffb74d;
$color-orange_400:	#ffa726;
$color-orange_500:	#ff9800;
$color-orange_600:	#fb8c00;
$color-orange_700:	#f57c00;
$color-orange_800:	#ef6c00;
$color-orange_900:	#e65100;
$color-orange_A100:	#ffd180;
$color-orange_A200:	#ffab40;
$color-orange_A400:	#ff9100;
$color-orange_A700:	#ff6d00;

$color-deep-orange_50:    #fbe9e7;
$color-deep-orange_100:   #ffccbc;
$color-deep-orange_200:	  #ffab91;
$color-deep-orange_300:	  #ff8a65;
$color-deep-orange_400:	  #ff7043;
$color-deep-orange_500:	  #ff5722;
$color-deep-orange_600:	  #f4511e;
$color-deep-orange_700:	  #e64a19;
$color-deep-orange_800:	  #d84315;
$color-deep-orange_900:	  #bf360c;
$color-deep-orange_A100:  #ff9e80;
$color-deep-orange_A200:  #ff6e40;
$color-deep-orange_A400:  #ff3d00;
$color-deep-orange_A700:  #dd2c00;

$color-cyan_50:   #e0f7fa;
$color-cyan_100:  #b2ebf2;
$color-cyan_200:  #80deea;
$color-cyan_300:  #4dd0e1;
$color-cyan_400:  #26c6da;
$color-cyan_500:  #00bcd4;
$color-cyan_600:  #00acc1;
$color-cyan_700:  #0097a7;
$color-cyan_800:  #00838f;
$color-cyan_900:  #006064;
$color-cyan_A100: #84ffff;
$color-cyan_A200: #18ffff;
$color-cyan_A400: #00e5ff;
$color-cyan_A700: #00b8d4;



